{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<h1 class="about-title">About Osama Hussein</h1>
<p class="about-text">Hello! I'm Osama Hussein, a dedicated and dynamic professional in the field of computer science, with a particular passion for technology, IT support, networking, and cybersecurity. With a rich educational background including a bachelor's degree in Computer Science and several industry certifications, I am constantly expanding my expertise to remain at the forefront of technological innovation.
    <br>
    <br>
    Throughout my career, I've had the opportunity to apply my strong analytical and problem-solving skills in various roles, from a Front-end React Developer intern to Live Event/IT Support, where I ensured seamless digital experiences for users. My ability to work under pressure, coupled with my analytical thinking and effective communication skills, allows me to tackle challenges head-on and contribute meaningfully to my team.
    <br>
    <br>
    I am deeply committed to my values, which include truth, honesty, curiosity, community, inclusion, diversity, integrity, hard work, and service. These principles guide my interactions and decisions, both professionally and personally. As a team player who values collaboration, I strive to create environments where everyone can thrive and contribute to our collective success.    <br>
    <br>
    When I'm not immersed in the world of technology, I enjoy engaging in various hobbies that keep me active and connected to my passions. Soccer and cooking are my favorites, providing me with joy and relaxation. I also enjoy hiking, working out, and staying updated on the latest trends in technology and cybersecurity.
    <br>
    <br>
    I am excited to share my journey, insights, and experiences with you. Whether you're here to explore potential collaborations, learn more about my work, or simply connect, I look forward to embarking on this exciting journey together.
    </p>

{% endblock %}